

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Courgette&family=Dancing+Script&family=Fasthand&family=Great+Vibes&family=Indie+Flower&family=Pacifico&family=Roboto:wght@100&display=swap');
body {
    background-color: rgb(235, 212, 183);

font-family:'Pacifico', cursive;
}
img{
    width: 60px;
    height: 60px;
}
